<%= render partial: 'shared/unsigned_in_navbar', locals: { title: 'Register', submit_btn_text: 'Next' } %>
<div class="container-fluid-sm sign-up-form-cont top-margin">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field p-3">
      <span>
        <i class="fa-solid fa-user fa-3x"></i>
      </span>
      <label class="btn-primary p-1 rounded mx-4">
        Upload new image
        <span style="display:none;">
          <%= f.file_field :image %>
        </span>
      </label>
    </div>

     <div class="field">
      <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "w-100 p-3" %>
    </div>
  
    <div class="field">
      <%= f.email_field :email, autocomplete: "email", placeholder: "Email (use valid email)", class: "w-100 p-3" %>
    </div>
  
    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (#{ @minimum_password_length} characters minimum)", class: "w-100 p-3" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: "w-100 p-3" %>
    </div>
  <% end %>
</div>
